{% load static %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Shelton Hotel &mdash;</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />

  <!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FREEHTML5.CO
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">
	<!-- <link href='https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700italic,900,700,900italic' rel='stylesheet' type='text/css'> -->

	<!-- Stylesheets -->
	<!-- Dropdown Menu -->
	<link rel="stylesheet" href="/static/css/superfish.css">
	<!-- Owl Slider -->
	<!-- <link rel="stylesheet" href="css/owl.carousel.css"> -->
	<!-- <link rel="stylesheet" href="css/owl.theme.default.min.css"> -->
	<!-- Date Picker -->
	<link rel="stylesheet" href="/static/css/bootstrap-datepicker.min.css">
	<!-- CS Select -->
	<link rel="stylesheet" href="/static/css/cs-select.css">
	<link rel="stylesheet" href="/static/css/cs-skin-border.css">

	<!-- Themify Icons -->
	<link rel="stylesheet" href="/static/css/themify-icons.css">
	<!-- Flat Icon -->
	<link rel="stylesheet" href="/static/css/flaticon.css">
	<!-- Icomoon -->
	<link rel="stylesheet" href="/static/css/icomoon.css">
	<!-- Flexslider  -->
	<link rel="stylesheet" href="/static/css/flexslider.css">
	
	<!-- Style -->
	<link rel="stylesheet" href="/static/css/style.css">

	<!-- Modernizr JS -->
	<script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

</head>
<body>
	<div id="fh5co-wrapper">
	<div id="fh5co-page">
	<div id="fh5co-header">
		<header id="fh5co-header-section">
			<div class="container">
				<div class="nav-header">
					<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
                    <h1 id="fh5co-logo"><a href="index.html">Welcome {{user.first_name}}</a></h1>
					<nav id="fh5co-menu-wrap" role="navigation">
						<ul class="sf-menu" id="fh5co-primary-menu">
							<li><a class="active" href="/hotelweb/guest_home">Home</a></li>
							<li><a href="booking">Room Reservation</a></li>
							<li><a href="roomservice">Room Service</a></li>
							<li><a href="/hotelweb/login">Logout</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
		
	</div>
<!-- end:fh5co-header -->
<aside id="fh5co-hero" class="js-fullheight">
	<div class="flexslider js-fullheight">
		<ul class="slides">
		   <li style="background-image: url(/static/images/shelton1.jpg);">
			   <div class="overlay-gradient"></div>
			   <div class="container">
				   <div class="col-md-12 col-md-offset-0 text-center slider-text">
					   <div class="slider-text-inner js-fullheight">
						   <div class="desc">
							   <p><span>Shelton Hotel</span></p>
							   <h2>Reserve Room for Family Vacation</h2>
							   <p>
								   <a href="hotelweb/register" class="btn btn-primary btn-lg">Book Now</a>
							   </p>
						   </div>
					   </div>
				   </div>
			   </div>
		   </li>
		   <li style="background-image: url(/static/images/shelton2.jpg);">
			   <div class="overlay-gradient"></div>
			   <div class="container">
				   <div class="col-md-12 col-md-offset-0 text-center slider-text">
					   <div class="slider-text-inner js-fullheight">
						   <div class="desc">
							   <p><span>Shelton Hotel</span></p>
							   <h2>Make Your Vacation Comfortable</h2>
							   <p>
								   <a href="hotelweb/register" class="btn btn-primary btn-lg">Book Now</a>
							   </p>
						   </div>
					   </div>
				   </div>
			   </div>
		   </li>
		   <li style="background-image: url(/static/images/shelton3.jpg);">
			   <div class="overlay-gradient"></div>
			   <div class="container">
				   <div class="col-md-12 col-md-offset-0 text-center slider-text">
					   <div class="slider-text-inner js-fullheight">
						   <div class="desc">
							   <p><span>Shelton Hotel</span></p>
							   <h2>A Best Place To Enjoy Your Life</h2>
							   <p>
								   <a href="hotelweb/register" class="btn btn-primary btn-lg">Book Now</a>
							   </p>
						   </div>
					   </div>
				   </div>
			   </div>
		   </li>
		   
		  </ul>
	  </div>
</aside>
<br><br><br><br><br>
<div id="fh5co-counter-section" class="fh5co-counters">
	<div class="container">
		<div class="row">
			<div class="col-md-3 text-center">
				<span class="fh5co-counter js-counter" data-from="0" data-to="2343" data-speed="5000" data-refresh-interval="50"></span>
				<span class="fh5co-counter-label">User Access</span>
			</div>
			<div class="col-md-3 text-center">
				<span class="fh5co-counter js-counter" data-from="0" data-to="1598" data-speed="5000" data-refresh-interval="50"></span>
				<span class="fh5co-counter-label">Bookings</span>
			</div>
			<div class="col-md-3 text-center">
				<span class="fh5co-counter js-counter" data-from="0" data-to="4676" data-speed="5000" data-refresh-interval="50"></span>
				<span class="fh5co-counter-label">Transactions</span>
			</div>
			<div class="col-md-3 text-center">
				<span class="fh5co-counter js-counter" data-from="0" data-to="7645" data-speed="5000" data-refresh-interval="50"></span>
				<span class="fh5co-counter-label">Rating &amp; Review</span>
			</div>
		</div>
	</div>
</div>

<div id="featured-hotel" class="fh5co-bg-color">
	<div class="container">
		
		<div class="row">
			<div class="col-md-12">
				<div class="section-title text-center">
					<h2>Featured Rooms</h2>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="feature-full-1col">
				<div class="image" style="background-image: url(/static/images/room1.jpg);">
					<div class="descrip text-center">
						<p><span>Rs 20000/night</span></p>
					</div>
				</div>
				<div class="desc">
					<h3>Presidential Suite</h3>
					<p>Fit for royalty, every inch of this vast suite with 334 square metres interiors, has been designed with your utmost comfort in mind. Natural light flows through the master bedroom and adjoining twin room, the private dressing room, comfortable living and dining areas, private study and pantry. And for your relaxation, there is a heated outdoor pool and a terrace with views of the Gurgaon skyline. Eclectic modern artworks abound adding a touch of class </p>
					<p><a href="hotelweb/register" class="btn btn-primary btn-luxe-primary">Sign Now <i class="ti-angle-right"></i></a></p>
				</div>
			</div>

			<div class="feature-full-2col">
				<div class="f-hotel">
					<div class="image" style="background-image: url(/static/images/room2.jpg);">
						<div class="descrip text-center">
							<p><span>Rs 15000/night</span></p>
						</div>
					</div>
					<div class="desc">
						<h3>Executive Suite</h3>
						<p>These spacious, elegant rooms with 49 square metres interiors, are perfect for travellers to the city, whether on business or a leisure trip. Spacious and naturally lit with large windows offering pleasing views, they include a king size bed and an oak writing desk. </p>
						<p><a href="hotelweb/register" class="btn btn-primary btn-luxe-primary">Sign Now <i class="ti-angle-right"></i></a></p>
					</div>
				</div>
				<div class="f-hotel">
					<div class="image" style="background-image: url(/static/images/room3.jpg);">
						<div class="descrip text-center">
							<p>Rs 10000/night</span></p>
						</div>
					</div>
					<div class="desc">
						<h3>Deluxe Room</h3>
						<p>A Standard Room with all necessecities to stay in this city. </p>
						<p><a href="hotelweb/register" class="btn btn-primary btn-luxe-primary">Sign Now <i class="ti-angle-right"></i></a></p>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

<div id="hotel-facilities">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="section-title text-center">
					<h2>Hotel Facilities</h2>
				</div>
			</div>
		</div>

		<div id="tabs">
			<nav class="tabs-nav">
				<a href="#" class="active" data-tab="tab1">
					<i class="flaticon-restaurant icon"></i>
					<span>Restaurant</span>
				</a>
				<a href="#" data-tab="tab2">
					<i class="flaticon-cup icon"></i>
					<span>Bar</span>
				</a>
				<a href="#" data-tab="tab3">
					
					<i class="flaticon-swimming icon"></i>
					<span>Swimming Pool</span>
				</a>
				<a href="#" data-tab="tab4">
					
					<i class="flaticon-bicycle icon"></i>
					<span>Gym</span>
				</a>
			</nav>
			<div class="tab-content-container">
				<div class="tab-content active show" data-tab-content="tab1">
					<div class="container">
						<div class="row">
							<div class="col-md-6">
								<img src="{% static 'images/restaurant.jpg' %}" class="img-responsive" alt="Image">
							</div>
							<div class="col-md-6">
								<span class="super-heading-sm">World Class</span>
								<h3 class="heading">Restaurant</h3>
								<p>Best Taste in Town with a variety of Cuisines.</p>
								<p class="service-hour">
									<span>Service Hours</span>
									<strong>11:30 AM - 12:00 AM</strong>
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-content" data-tab-content="tab2">
					<div class="container">
						<div class="row">
							<div class="col-md-6">
								<img src="{% static 'images/bar.jpg' %}" class="img-responsive" alt="Image">
							</div>
							<div class="col-md-6">
								<span class="super-heading-sm">World Class</span>
								<h3 class="heading">Bars</h3>
								<p>Our wonderful bar with variety of Drinks and Mojitos</p>
								<p class="service-hour">
									<span>Service Hours</span>
									<strong>8:30 PM - 12:00 AM</strong>
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-content" data-tab-content="tab3">
					<div class="container">
						<div class="row">
							<div class="col-md-6">
								<img src="{% static 'images/swimmingpool.jpg' %}" class="img-responsive" alt="Image">
							</div>
							<div class="col-md-6">
								<span class="super-heading-sm">World Class</span>
								<h3 class="heading">Swimming Pool</h3>
								<p>A Green and Refreshing Environment in Our Pool for a Hot Summer Day.</p>
								<p class="service-hour">
									<span>Service Hours</span>
									<strong>2:00 PM - 8:00 PM</strong>
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-content" data-tab-content="tab4">
					<div class="container">
						<div class="row">
							<div class="col-md-6">
								<img src="{% static 'images/gym.jpg' %}" class="img-responsive" alt="Image">
							</div>
							<div class="col-md-6">
								<span class="super-heading-sm">World Class</span>
								<h3 class="heading">Gym</h3>
								<p>Our Gym with Modern Equipments and a Clean Environment.</p>
								<p class="service-hour">
									<span>Service Hours</span>
									<strong>7:30 AM - 8:00 PM</strong>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="testimonial">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="section-title text-center">
					<h2>Happy Customer Says...</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="testimony">
					<blockquote>
						&ldquo;If you’re looking for a top quality hotel look no further. We were upgraded free of charge to the Premium Suite, thanks so much&rdquo;
					</blockquote>
					<p class="author"><cite>Ali Sultan</cite></p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="testimony">
					<blockquote>
						&ldquo;Me and my wife had a delightful weekend get away here, the staff were so friendly and attentive. Highly Recommended&rdquo;
					</blockquote>
					<p class="author"><cite>Iqbal Gujjar</cite></p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="testimony">
					<blockquote>
						&ldquo;If you’re looking for a top quality hotel look no further. We were upgraded free of charge to the Premium Suite, thanks so much&rdquo;
					</blockquote>
					<p class="author"><cite>Khurram Dastgir</cite></p>
				</div>
			</div>
		</div>
	</div>
</div>


<footer id="footer" class="fh5co-bg-color">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="copyright">
					<p><small>&copy; 2022 Shelton Hotel Gujranwala <br> All Rights Reserved. <br>
					Designed by Sameer Asad Sheikh & Zeeshan Aslam 
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-4">
						<h3>Company</h3>
						<ul class="link">
							<li><a href="/hotelweb/guest_home">About Us</a></li>
							<li><a href="/hotelweb/guest_home">Customer Care</a></li>
							<li><a href="/hotelweb/guest_home">Contact Us</a></li>
						</ul>
					</div>
					<div class="col-md-4">
						<h3>Our Facilities</h3>
						<ul class="link">
							<li><a href="/hotelweb/guest_home">Resturant</a></li>
							<li><a href="/hotelweb/guest_home">Bars</a></li>
							<li><a href="/hotelweb/guest_home">Pick-up</a></li>
							<li><a href="/hotelweb/guest_home">Swimming Pool</a></li>
							<li><a href="/hotelweb/guest_home">Spa</a></li>
							<li><a href="/hotelweb/guest_home">Gym</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<ul class="social-icons">
					<li>
						<a href="/hotelweb/guest_home"><i class="icon-twitter-with-circle"></i></a>
						<a href="/hotelweb/guest_home"><i class="icon-facebook-with-circle"></i></a>
						<a href="/hotelweb/guest_home"><i class="icon-instagram-with-circle"></i></a>
						<a href="/hotelweb/guest_home"><i class="icon-linkedin-with-circle"></i></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>

</div>
<!-- END fh5co-page -->

</div>
<!-- END fh5co-wrapper -->

<!-- Javascripts -->
<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<!-- Dropdown Menu -->
<script src="{% static 'js/hoverIntent.js' %}"></script>
<script src="{% static 'js/superfish.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- Waypoints -->
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<!-- Counters -->
<script src="{% static 'js/jquery.countTo.js' %}"></script>
<!-- Stellar Parallax -->
<script src="{% static 'js/jquery.stellar.min.js' %}"></script>
<!-- Owl Slider -->
<!-- // <script src="js/owl.carousel.min.js"></script> -->
<!-- Date Picker -->
<script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
<!-- CS Select -->
<script src="{% static 'js/classie.js' %}"></script>
<script src="{% static 'js/selectFx.js' %}"></script>
<!-- Flexslider -->
<script src="{% static 'js/jquery.flexslider-min.js' %}"></script>

<script src="{% static 'js/custom.js' %}"></script>

</body>
</html>